<app-header></app-header>
<div id="#main" class="flex flex-col min-h-screen">
  <main class="flex-grow">
    <ng-content></ng-content>
  </main>
  <div class="flex">
    <app-footer></app-footer>
  </div>
</div>
